.container {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  min-height: 100vh;
  background-color: #ffffff;
}

.card {
  width: 792px;
  height: 442px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputGroup {
  margin-bottom: 48px;
  width: 480px;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  line-height: 24px;
}

.inputGroup:last-of-type {
  margin-bottom: 0;
}

.buttonContainer {
  margin-top: 32px;
  margin-bottom: 0;
}

.footerLink {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  font-family: "Geist", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #000000;
  margin-top: 8px;
}

.link {
  color: #18a0fb;
  text-decoration: none;
}
